# =========================
# API
# =========================

PORT=4000

MONGO_URI=mongodb://localhost:27017/dev-docs

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_refresh_secret

# =========================
# WEB
# =========================

NEXT_PUBLIC_API_URL=http://localhost:4000/api